/* Header styles */
.Header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 77px;
    border-bottom: 2px solid #7BA6E6;
}

.logo-wrap {
    margin-left: 23rem;
    display: inline-block;
    margin-top: 22px;
    width: 153px;
    height: 38px;
    background: transparent url('./images/logo.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logOutBtn-wrap {
    float: right;
    margin-right: 23rem;
    margin-top: 0.5rem;
}

.logOutBtn,
.goToDashboard {
    background: #508ADF 0% 0% no-repeat padding-box;
    margin-top: 7px;
    width: 160px;
    height: 44px;
    border: none;
    color: white;
    border-radius: 36px;
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

/* CreateAccount styles */
.CreateAccount {
    text-align: center;
}


/* Dashboard styles */
.Dashboard {
    width: 1920px;
    height: 1442px;
}

.sidePanel,
.main {
    display: inline-block;
    vertical-align: middle;
}

.sidePanel {
    margin-left: 38px;
    width: 241px;
    height: 923px;
    background: #F5F9FF 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    border-radius: 24px;
    opacity: 1;

}

.bottom-features {
    margin-top: 796px;
    width: 241px;
    height: 106px;
    background: #E9F1FD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 24px 24px;
    opacity: 1;
    text-align: center;
}

.feature {
    top: 136px;
    left: 60px;
    width: 79px;
    height: 79px;
    background: #E0E6EE 0% 0% no-repeat padding-box;
    margin: 0 auto;
    opacity: 1;
}
.chatWrap, .settingWrap{
    width: 50%;
    height: 65px;
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
}
.chat, .settings {
    width: 48px;
    height: 48px;
    background: #508ADF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.chatText, .settingsText {
    top: 1000px;
    left: 78px;
    width: 74px;
    height: 17px;
    text-align: center;
    letter-spacing: 0px;
    color: #508ADF;
    opacity: 1;
    font-size: 13px;
}

.chatIcon {
    width: 23px;
    height: 27px;
    background: transparent url('images/chat.svg') no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
}


.main {
    /* top: 77px; */
    /* left: 0px; */
    width: 75%;
    height: 1442px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    opacity: 1;
}

.accountsPanel {
    margin-top: 112px;
    margin-left: 27px;
    width: 286px;
    height: 76px;
    /* transform: matrix(0, -1, 1, 0, 0, 0); */
    background: #EAEAEA 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    opacity: 1;
    border-radius: 38px;
}

.singleAccount {
    /* margin-top: 120px; */
    margin-left: 10px;
    display: inline-block;
    width: 60px;
    height: 60px;
    /* background: transparent url('img/Group 1637.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.profileIcon {
    margin-top: 80px;
    /* left: 871px; */
    width: 100%;
    height: 178px;
    /* margin: 10px auto; */
}

.icon {
    width: 178px;
    margin: 0 auto;
    text-align: center;
}

.userData {
    top: 385px;
    width: 100%;
    left: 902px;
    /* height: 25px; */
    text-align: center;
    /* font: normal normal 900 19px/51px Exo; */
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
}

.userData div {
    width: 116px;
    margin: 0 auto;
}

.progressBar {
    width: 0 auto;
}

.progressBar .progressWrap {
    top: 446px;
    left: 827px;
    width: 266px;
    height: 59px;
    border: 1px solid #C8C8C8;
    border-radius: 30px;
    opacity: 1;
    margin: 6px auto;

}

.progressWrap div {
    margin-top: -12px;
    margin-left: 4px;
    width: 193px;
    height: 51px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: #508ADF 0% 0% no-repeat padding-box;
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
}

.progressWrap p {
    /* top: 465px;
    left: 927px;
    width: 72px;
    height: 21px; */
    text-align: center;
    font: normal normal bold 16px/52px Exo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.vipWrapper {
    margin: 3px auto;
    width: 100%;
    text-align: center;
    opacity: 1;
}

.vipWrapper div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.vipText {

    font: normal normal bold 16px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
}

.securityWrap,
.loadMoreWrap,
.problemsWrap {
    width: 100%;
}

.securityTitle,
.problemsTitle {
    /* text-align: center; */
    font: normal normal 900 32px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    margin-left: 413px;
}

.securityTable {
    margin: 0 auto;
    width: 897px;
    height: 341px;
    opacity: 1;
}

.securityTable thead {
    text-align: justify;
}

.moreIcon {
    width: 35px;
    height: 34px;
    /* background: transparent url('img/Group 1202.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
    margin: 0 auto;
}

.moreText {
    text-align: center;
    text-decoration: underline;
    font: normal normal medium 16px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    cursor: pointer;
}


.problems {
    text-align: center;
}

.singleProblem {
    margin-top: 10px;
    margin-left: 15px;
    width: 208px;
    height: 167px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    border-radius: 10px;
    opacity: 1;
    display: inline-block;

}