/* Some Header styles */
.logo-wrap {
    margin-left: 23rem;
    display: inline-block;
    margin-top: 22px;
    width: 153px;
    height: 38px;
    background: transparent url('./images/logo.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logOutBtn-wrap {
    float: right;
    margin-right: 23rem;
    margin-top: 0.5rem;
}

/* Loader styles */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Dashboard styles */
.Dashboard {
    
}

.sidePanel,
.main {
    display: inline-block;
    vertical-align: middle;
}

.sidePanel {
    margin-left: 38px;
    width: 241px;
    height: 923px;
    background: #F5F9FF 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    border-radius: 24px;
    opacity: 1;
    margin-top: 40px;

}

/* Top Features */

.featureWrap {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    height: 125px;
    margin-top: 30px;
}

.singleFeature {
    background: #E0E6EE 0% 0% no-repeat padding-box;
    width: 79px;
    height: 79px;
    margin-left: 20px;
    border-radius: 50%;
}

.feature {
    border-radius: 50%;
    width: 67px;
    height: 67px;
    background: #3D6DB3 0% 0% no-repeat padding-box;
    position: relative;
    top: 6px;
    left: 6px;
}

.featureText {
    text-align: center;
    letter-spacing: 0px;
    color: #26579F;
    font-size: 10px;
    font-family: Exo, Medium;
    margin-top: 20px;
}

.icon-Firewall {
    background: transparent url('images/shield-icon.svg') no-repeat padding-box;
    width: 38px;
    height: 46px;
    position: relative;
    top: 10px;
    left: 14px;
}

.icon-News {
    background: transparent url('images/megaphone-icon.svg') no-repeat padding-box;
    width: 45px;
    height: 47px;
    transform: matrix(0.93, 0.36, -0.36, 0.93, 0, 0);
    position: relative;
    top: 13px;
    left: 13px;
}

/* Bottom Features */

.bottom-features {
    margin-top: 352px;
    width: 241px;
    height: 106px;
    background: #E9F1FD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 24px 24px;
    opacity: 1;
    text-align: center;
}

.chatWrap,
.settingWrap {
    width: 50%;
    height: 65px;
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
}

.chat,
.settings {
    width: 48px;
    height: 48px;
    background: #508ADF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}

.chatText,
.settingsText {
    top: 1000px;
    left: 78px;
    width: 75px;
    height: 17px;
    text-align: center;
    letter-spacing: 0px;
    color: #508ADF;
    opacity: 1;
    font-size: 13px;
    margin: auto;
    font-size: 13px;
    font-family: Exo, Medium;
    
}

.chatIcon {
    width: 23px;
    height: 27px;
    background: transparent url('images/chat.svg') no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.main {
    width: 1626px;
    height: 1442px;
    opacity: 1;
    float: right;
}

.accountsPanel {
    margin-top: 40px;
    margin-left: 27px;
    width: 300px;
    height: 76px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    opacity: 1;
    border-radius: 38px;
}

.singleAccount {
    margin-top: 10px;
    margin-left: 12px;
    display: inline-block;
    width: 60px;
    height: 60px;
    opacity: 1;
}

.accountWrap {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.active {
    width: 60px;
    height: 60px;
    background-color: #508ADF;
    border-radius: 50%;
}

.profilePhoto {
    width: 54px;
    height: 54px;
    top: 3px;
    left: 3px;
    background: transparent url('./images/small-photo.png') 0% 0% no-repeat padding-box;
    position: relative;
    border-radius: 50%;
    background-position: center;
}

.profileType {
    left: 44px;
    bottom: 15px;
    width: 21px;
    height: 21px;
    position: relative;
    opacity: 1;
}

.facebook {
    background: transparent url('./images/small-facebook.svg') 0% 0% no-repeat padding-box;
}

.instagram {
    background: transparent url('./images/small-instagram.svg') 0% 0% no-repeat padding-box;
}

.noProfile {
    width: 54px;
    height: 54px;
    top: 3px;
    left: 3px;
    background: #C4DBFF;
    position: relative;
    border-radius: 50%;
    background-position: center;
}

.plassSign {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    top: 4px;
    left: 15px;
}

.profileIcon {
    margin-top: 45px;
    width: 100%;
    height: 205px;
    position: relative;
}


.iconWrap {
    width: 225px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background: transparent url('./images/gray-background.svg') 0% 0% no-repeat padding-box;
    position: relative;
}

.photo {
    position: absolute;
    background: transparent url('./images/photo.png') 0% 0% no-repeat padding-box;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    background-position: center;
}

.platformIcon {
    top: 123px;
    left: 149px;
    width: 76px;
    height: 76px;
    background: transparent url('./images/instagram-icon.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.userData {
    text-align: center;
}

.name {
    height: 37px;
    font: normal normal 900 19px/51px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
}

.followers {
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    font-family: Exo, Medium;
    font-size: 16px;
}

.progressBar {
    margin-top: 10px;
}

.progressBar .progressWrap {
    width: 266px;
    height: 59px;
    border: 1px solid #C8C8C8;
    border-radius: 30px;
    opacity: 1;
    margin: 6px auto;

}

.progressWrap div {
    margin-top: -12px;
    margin-left: 4px;
    width: 193px;
    height: 51px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: #508ADF 0% 0% no-repeat padding-box;
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
}

.progressWrap p {
    text-align: center;
    font: normal normal bold 16px/52px Exo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    margin-right: 60px;
}


.accountTypeWrapper {
    width: 100%;
    text-align: center;
    opacity: 1;
}

.accountTypeWrapper div {
    display: inline-block;
    width: 24px;
    opacity: 1;
}

.accountTypeIcon {
    background: transparent url('./images/crown.png') 0% 0% no-repeat padding-box;
    height: 17px;
    margin-right: 5px;
}

.accountTypeText {
    font: normal normal bold 16px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    height: 17px;
    text-transform: uppercase;
}

.profileIcon,
.userData,
.progressBar,
.accountTypeWrapper,
.securityWrap,
.loadMoreWrap,
.problemsWrap {
    margin: auto;
    width: 1437px;
}

.securityWrap,
.loadMoreWrap,
.problemsWrap {
    margin-top: 30px;
}

.securityTitle {
    width: 272px;
    font: normal normal 900 32px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    margin-left: 273px;
}

.securityTable {
    margin: 0 auto;
    width: 897px;
    height: 341px;
    opacity: 1;
    margin-left: 270px;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1pt solid #D5D5D5;
}

.securityTable th {
    font-size: 17px;
    color: #21244E;
    font-weight: bold;
    font: normal normal bold 17px/58px Exo;
}

.securityTable thead {
    text-align: justify;
}

.task {
    font: normal normal 600 16px/23px Exo;
    color: #508ADF;
    text-decoration: underline;
}

.priorityTh {
    width: 103px;
    text-align: center;
}
.priorityWrap {
    width: 100px;
    height: 32px;
    border-radius: 6px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.High {
    background-color: #FC5964;
}

.Medium {
    background-color: #FFB7BB;
}

.Low {
    background-color: #508ADF;
}

.effortWrap {
    color: #21244E;
    font-size: 16px;
}

.effort, .effort th  {
    text-align: center;
}

.effortTh {
    text-align: center;
}

.doneTh {
    text-align: center;
}

.done {
    text-align: center;
}
input[id="checkbox-done"] {
    width: 24px;
    height: 24px;
    border: 2px solid #508ADF !important;
    border-radius: 6px;
}


.moreIcon {
    width: 35px;
    height: 34px;
    background: transparent url('./images/more-btn.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
    cursor: pointer;
}

.moreText {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #21244E;
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
    font-family: Exo, Medium;
}

.problemsTitle {
    margin-left: 273px;
    font: normal normal 900 32px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
}

.problems {
    text-align: center;
    width: 900px;
    margin-left: 255px;
}

.singleProblem {
    margin-top: 10px;
    margin-left: 16px;
    width: 208px;
    height: 167px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    border-radius: 10px;
    opacity: 1;
    display: inline-block;
}

.problemIcon {
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.ptoblemText {
    text-align: center;
    font: normal normal bold 16px/18px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
}

.fixItBtnWrap {
    margin-top: 10px;
}

.fixItBtn {
    width: 157px;
    height: 33px;
    background: #508ADF 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal bold 14px/18px Exo;
    cursor: pointer;
}

.moreProblems {
    height: 21px;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    font-size: 16px;
    font-family: Exo, Medium;
    text-align: right;
    margin-top: 10px;
    margin-right: 283px;
    cursor: pointer;
}