/* Header styles */
.Header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 77px;
    border-bottom: 2px solid #7BA6E6;
}

.logo-wrap {
    margin-left: 23rem;
    display: inline-block;
    margin-top: 22px;
    width: 153px;
    height: 38px;
    background: transparent url('./images/logo.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logOutBtn-wrap {
    float: right;
    margin-right: 23rem;
    margin-top: 0.5rem;
}

.logOutBtn,
.goToDashboard {
    background: #508ADF 0% 0% no-repeat padding-box;
    margin-top: 7px;
    width: 160px;
    height: 44px;
    border: none;
    color: white;
    border-radius: 36px;
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

/* CreateAccount styles */
.CreateAccount {
    text-align: center;
}


/* Dashboard styles */
.Dashboard {
    width: 1920px;
    height: 1442px;
}

.sidePanel,
.main {
    display: inline-block;
    vertical-align: middle;
}

.sidePanel {
    margin-left: 38px;
    width: 241px;
    height: 923px;
    background: #F5F9FF 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    border-radius: 24px;
    opacity: 1;

}

.bottom-features {
    margin-top: 796px;
    width: 241px;
    height: 106px;
    background: #E9F1FD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 24px 24px;
    opacity: 1;
    text-align: center;
}

.feature {
    top: 136px;
    left: 60px;
    width: 79px;
    height: 79px;
    background: #E0E6EE 0% 0% no-repeat padding-box;
    margin: 0 auto;
    opacity: 1;
}

.chatWrap,
.settingWrap {
    width: 50%;
    height: 65px;
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
}

.chat,
.settings {
    width: 48px;
    height: 48px;
    background: #508ADF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.chatText,
.settingsText {
    top: 1000px;
    left: 78px;
    width: 74px;
    height: 17px;
    text-align: center;
    letter-spacing: 0px;
    color: #508ADF;
    opacity: 1;
    font-size: 13px;
}

.chatIcon {
    width: 23px;
    height: 27px;
    background: transparent url('images/chat.svg') no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
}


.main {
    /* top: 77px; */
    /* left: 0px; */
    width: 75%;
    height: 1442px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    opacity: 1;
}

.accountsPanel {
    margin-top: 40px;
    margin-left: 27px;
    width: 300px;
    height: 76px;
    /* transform: matrix(0, -1, 1, 0, 0, 0); */
    background: #EAEAEA 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    opacity: 1;
    border-radius: 38px;
}

.singleAccount {
    margin-top: 10px;
    margin-left: 12px;
    display: inline-block;
    width: 60px;
    height: 60px;
    opacity: 1;
}

.accountWrap {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.active {
    width: 60px;
    height: 60px;
    background-color: #508ADF;
    border-radius: 50%;
}

.profilePhoto {
    width: 54px;
    height: 54px;
    top: 3px;
    left: 3px;
    background: transparent url('./images/small-photo.png') 0% 0% no-repeat padding-box;
    position: relative;
    border-radius: 50%;
    background-position: center;
}

.profileType {
    left: 44px;
    bottom: 15px;
    width: 21px;
    height: 21px;
    position: relative;
    opacity: 1;
}

.noProfile {
    width: 54px;
    height: 54px;
    top: 3px;
    left: 3px;
    background: #C4DBFF;
    position: relative;
    border-radius: 50%;
    background-position: center;
}

.plassSign {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    top: 4px;
    left: 15px;
}

.profileIcon {
    margin-top: 45px;
    width: 100%;
    height: 205px;
    position: relative;
}


.iconWrap {
    width: 225px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background: transparent url('./images/gray-background.svg') 0% 0% no-repeat padding-box;
    position: relative;
}

.photo {
    position: absolute;
    background: transparent url('./images/photo.png') 0% 0% no-repeat padding-box;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    background-position: center;
}

.platformIcon {
    top: 123px;
    left: 149px;
    width: 76px;
    height: 76px;
    /* UI Properties */
    background: transparent url('./images/instagram-icon.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.userData {
    text-align: center;
}

.name {
    height: 37px;
    font: normal normal 900 19px/51px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
}

.followers {
    font: normal normal medium 16px/52px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
}

.progressBar {
    margin-top: 10px;
}

.progressBar .progressWrap {
    width: 266px;
    height: 59px;
    border: 1px solid #C8C8C8;
    border-radius: 30px;
    opacity: 1;
    margin: 6px auto;

}

.progressWrap div {
    margin-top: -12px;
    margin-left: 4px;
    width: 193px;
    height: 51px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: #508ADF 0% 0% no-repeat padding-box;
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
}

.progressWrap p {
    text-align: center;
    font: normal normal bold 16px/52px Exo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}


.accountTypeWrapper {
    width: 100%;
    text-align: center;
    opacity: 1;
}

.accountTypeWrapper div {
    display: inline-block;
    width: 24px;
    opacity: 1;
}

.accountTypeIcon {
    background: transparent url('./images/crown.png') 0% 0% no-repeat padding-box;
    height: 17px;
    margin-right: 5px;
}

.accountTypeText {
    font: normal normal bold 16px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    height: 17px;
    text-transform: uppercase;
}

.securityWrap,
.loadMoreWrap,
.problemsWrap {
    width: 100%;
    margin-top: 15px;
}

.securityTitle {
    width: 272px;
    font: normal normal 900 32px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    margin-left: 273px;
}

.securityTable {
    margin: 0 auto;
    width: 897px;
    height: 341px;
    opacity: 1;
    margin-top: 28px;
}

.securityTable tr {
    
}

.securityTable th {
    font-size: 17px;
    color: #21244E;
    font-weight: bold;
}

.securityTable thead {
    text-align: justify;
}

.priorityWrap {
    width: 100px;
    height: 32px;
    border-radius: 6px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.High {
    background-color: #FC5964;
}

.Medium {
    background-color: #FFB7BB;
}

.Low {
    background-color: #508ADF;
}

.effortWrap {
    color: #21244E;
    /* font-weight: bold; */
    font-size: 16px;
    /* text-align: center; */
}
.moreIcon {
    width: 35px;
    height: 34px;
    /* background: transparent url('img/Group 1202.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
    margin: 0 auto;
}

.moreText {
    text-align: center;
    text-decoration: underline;
    font: normal normal medium 16px/58px Exo;
    letter-spacing: 0px;
    color: #21244E;
    opacity: 1;
    cursor: pointer;
}

.problemsTitle {}

.problems {
    text-align: center;
}

.singleProblem {
    margin-top: 10px;
    margin-left: 15px;
    width: 208px;
    height: 167px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000012;
    border-radius: 10px;
    opacity: 1;
    display: inline-block;

}